{% extends "base.html" %}
{% block title %}
About |
{% endblock title %}
{% block body %}
<div class="mt-5">

  <div class="contanier-fluid bg-success bg-opacity">

    <section class="  container-fluid  p-3 ">
      <img src="../static/FisherDonald.jpg" width="400" height="800" class="rounded float-end pl-0" alt="pic">
      <div class="col-lg-6 col-md-8 mx-5 mt-5">
        <p class="fs-4 fst-italic text-white">“To consult the statistician after an experiment is finished is often
          merely to ask him to conduct a post-mortem examination. He can perhaps say what the experiment died of. “
        </p>
        <h3 class="fw-bolder text-white"> Ronald Fisher</h3><br><br>
        <h2 class="fs-1 fw-bolder"> How I Can Help</h2>
        <p class="fs-4 fw-bold">Our main aim is to provide intelligence Data Analytics Services from large volume of
          content and make it to easily reach for everyone. Our Data Analytics Services Includes:</p>
        <!-- <div class="elementor-counter">
                <div class="elementor-counter-number-wrapper">
                    <span class="elementor-counter-number-prefix"></span>
                    <span class="elementor-counter-number" data-duration="2000" data-to-value="70" data-from-value="0" data-delimiter=",">70</span>
                    <span class="elementor-counter-number-suffix">+</span>
                </div>
                        </div>
                        <div class="elementor-element elementor-element-c7a3f00 elementor-widget elementor-widget-heading" data-id="c7a3f00" data-element_type="widget" data-widget_type="heading.default">
                            <div class="elementor-widget-container">
                        <h6 class="elementor-heading-title elementor-size-default">Served clients with
            best Solutions</h6>		</div> -->
      </div>

  </div>
  </section>

  <div >
    <div class="container  px-5 py-3" style=" width: 700px;  margin-left: 100px; ">
      <p class="fs-5 fw-bold my-4"><i class="fa-solid fa-circle-check " style="color: #007E33;"></i> Analytics, Insight
        and Intelligence:</p>
      <p>We also provide standard and customized data analytics services related to artificial intelligence, machine
        learning and predictive analytics techniques. These AI services help make sense of customer data sets, uncover
        trends and identify opportunities for growth.</p>
      <p class="fs-5 fw-bold"><i class="fa-solid fa-circle-check " style="color: #007E33;"></i> Technical Training
        Internships:</p>
      <p>We help freshers and students to get hands-on experience on new tools and technologies to make successful
        transition into interested domain. We ensure that our data-driven organization adheres to the control framework.
      </p>



    </div>
    <hr class="featurette-divider">
    <div class="contanier mt-5">
      <div class="container marketing text-center">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <!-- <div class="bd-placeholder-img rounded-circle" width="60" height="60" ><i class="fa-light fa-chart-column" style="color: #007E33;"></i></div> -->
            
            <div class="justify-content-center d-flex align-items-center "
            style="width: 60px; height: 60px; background: #007E33; border-radius: 50%; font-size: 30px; margin: auto;"><i class="fa-solid fa-chart-column " ></i></div>

            <h4 class="fw-bold pt-3">Sales & Product Analytics</h4>
            <p>+ Sales channel analyses. + Pricing analyzes for designing pricing strategies., + Identifying and
              forecasting sales trends. + Conducting product performance analysis</p>

          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="justify-content-center d-flex align-items-center "
            style="width: 60px; height: 60px; background: #007E33; border-radius: 50%; font-size: 30px; margin: auto;"><i class="fa-solid fa-people-arrows "></i></div>

            <h4 class="fw-bold pt-3">Customer Analytics</h4>
            <p>+ Customer behavior analysis and predictive modeling. + Anticipating customer churn and managing churn
              risks. + Customer sentiment analysis.

            </p>

          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="justify-content-center d-flex align-items-center "
            style="width: 60px; height: 60px; background: #007E33; border-radius: 50%; font-size: 30px; margin: auto;"><i class="fa-solid fa-truck-fast "></i></div>

            <h4 class="fw-bold pt-3">Supply Chain Analytics</h4>
            <p>+ Identifying demand drivers, forecasting and planning consumer demand. + Determining optimal inventory
              levels to meet demand and prevent stockouts, inventory planning and management. + Identifying patterns and
              trends throughout the supply chain to better manage supply chain risks.</p>

          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>
    </div>
  </div>
</div>
<div class="container pt-4 pb-4" >
  <h2 class="fw-bold "><i aria-hidden="true" class="fab fa-yelp" style="color: #007E33;"></i> Clients Reviews</h2>
  <hr class="featurette-divider">
  <span class="text-muted" >4.9 </span><i class="fa-solid fa-star" style="color: #007E33;"></i><i class="fa-solid fa-star" style="color: #007E33;"></i><i class="fa-solid fa-star" style="color: #007E33;"></i><i class="fa-solid fa-star" style="color: #007E33;"></i><i class="fa-solid fa-star" style="color: #007E33;"></i> 
  <h4 class="fw-bold">Best real consultant ever</h4>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid suscipit magnam ad eum autem laborum sed assumenda inventore eius fugiat reiciendis dolorum hic aspernatur quidem sit consequatur, quibusdam doloremque, quam voluptatum itaque culpa molestiae.</p><br>

  <hr class="featurette-divider">
  <span class="text-muted">5.0 </span><i class="fa-solid fa-star" style="color: #007E33;"></i><i class="fa-solid fa-star" style="color: #007E33;"></i><i class="fa-solid fa-star" style="color: #007E33;"></i><i class="fa-solid fa-star" style="color: #007E33;"></i><i class="fa-solid fa-star" style="color: #007E33;"></i> 
  <h4 class="fw-bold">Working with hank was our smartest decision</h4>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid suscipit magnam ad eum autem laborum sed assumenda inventore eius fugiat reiciendis dolorum hic aspernatur quidem sit consequatur, quibusdam doloremque, quam voluptatum itaque culpa molestiae.</p><br>

  <hr class="featurette-divider">
  <span class="text-muted">5.0 </span><i class="fa-solid fa-star" style="color: #007E33;"></i><i class="fa-solid fa-star" style="color: #007E33;"></i><i class="fa-solid fa-star" style="color: #007E33;"></i><i class="fa-solid fa-star" style="color: #007E33;"></i><i class="fa-solid fa-star" style="color: #007E33;"></i> 
  <h4 class="fw-bold">Working with a real estate consultant turned out to be very profitable for us</h4>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid suscipit magnam ad eum autem laborum sed assumenda inventore eius fugiat reiciendis dolorum hic aspernatur quidem sit consequatur, quibusdam doloremque, quam voluptatum itaque culpa molestiae.</p><br>
</div>
{% endblock body %}